include mixins

+h3-double( 'About this project')

div(style="float:left; width:410px")
	p Hi, my name is <strong>Jacqueline Unanue</strong>, I am a Chilean-Spanish-American visual artist. Living in Philadelphia PA, USA.

	p My traveling exhibition will span 3 countries. My Ancient Land series is inspired by the music of Chilean Classical Composers and my multicultural memories.
img(style="float:left; margin-left:20px;", src="images/jac.png")


img(src="images/summary_eng.png")


+h3-double( 'Perks Summary', 'More about them below')
img(src="images/perk_summary.jpg")


+h3-double( 'Exhibition', 'Main Pieces')

p The Exhibition is composed of 24 pieces, 7 of them are really big (see below).

img(src="images/main.gif")


+h3-double( 'Exhibition', 'The Artwork')

p Here are all the pieces of it.

img(src="images/collage.jpg")

p See more 
	a(href="http://jacquelineunanue.com/work/my-ancient-land-%7C-inspired-by-chilean-composers-%282013%E2%80%932014%29?page=3") here.


+h3-double( 'Inspiration', 'Chilean Classic Composers')

div(style="width:620px; overflow:hidden;")
	p Immersed in this music as I painted, l felt it flow through me physically and found myself expressing both the movement of the music and my own emotions in free and spontaneous brush strokes that are musical as well as gestural.
	p I’ve been influenced by renowned Chilean classical composers. Among others:



	+composer( 'René Amengual', 'amengual', 'http://www.youtube.com/watch?v=iTdU0ZYVzGA', 'http://en.wikipedia.org/wiki/Ren%C3%A9_Amengual' )
	+composer( 'Jorge Urrutia', 'urrutia', 'http://www.youtube.com/watch?v=PXaawKM-OWk', 'http://es.wikipedia.org/wiki/Jorge_Urrutia_Blondel' )
	+composer( 'Eulogio Dávalos ', 'davalos', 'http://www.youtube.com/watch?v=5IJng-JL2Jw', 'http://es.wikipedia.org/wiki/Eulogio_D%C3%A1valos_Llanos' )

	+composer( 'Juan Orrego-Salas', 'orrego', 'http://www.youtube.com/watch?v=IQQWMVnL5mE', 'http://en.wikipedia.org/wiki/Juan_Orrego-Salas' )
	+composer( 'Enrique Soro', 'soro', 'http://www.youtube.com/watch?v=b9MliCbTqyc', 'http://es.wikipedia.org/wiki/Enrique_Soro' )
	+composer( 'Sylvia Soublette ', 'sylvia', 'http://www.youtube.com/watch?v=ocuOWDH7ekc', 'http://es.wikipedia.org/wiki/Sylvia_Soublette' )



+h3-double( 'Inspiration', 'My homeland Chile, Spain, United States')
	
p <strong>Chile, the country where I was born</strong> and where I developed my artistic career, is firmly recorded in my memory.  The colors I have used suggest -in an abstract way-, my memories of the geography, the forest, the desert, the ocean, and the Chilean sky.
p <strong>Those memories are meshed</strong> with both the experiences I had in my many <strong>travels to Spain</strong> to connect with my father’s ancestral roots and also with <strong>my experience in the United States</strong> where I have lived for almost fifteen years and where I continue to develop an artistic vision formed by my multi-cultural experiences.    


img(src="images/inspiration_land.jpg")




+h3-double( 'Perks', 'Share a multicultural experience!')
include perks



+h3-double( 'Exhibition Locations')

p 1- Embassy of Chile, Washington DC, United States. <strong>March 18 - April 4, 2015</strong>. 
	a(href="http://chileabroad.gov.cl/estados-unidos/ ") http://chileabroad.gov.cl/estados-unidos/ 

p 2- Sala Viña del Mar, Viña del Mar, Chile. <strong>April 14 – May9, 2015</strong>. 
	a(href="http://www.culturaviva.cl/") http://www.culturaviva.cl/

p 3- Centre cultural La Casa Elizalde, Barcelona, Spain. <strong>September 15 - October 16, 2015</strong>. 
	a(href="http://www.casaelizalde.com/ ") http://www.casaelizalde.com/


+h3-double( 'About the artist')
	
p <strong>Jacqueline Unanue</strong> was born in Chile, and studied design at the Universidad de Chile de Valparaíso. She traveled extensively through Chile’s Atacama Desert and Altamira caves, Spain, doing on-site research.
p In addition to numerous individual and group exhibitions in Chile since 1983, she has also been exhibited in Spain, Finland, Ecuador, Argentina, and the United States—in galleries in Washington D.C., Philadelphia, Chicago, and New York. 
p Since year 2000, she lives in Philadelphia PA, USA, where she is represented by 
	a(href="http://www.3rdstreetgallery.com") 3rd Street Gallery.

p
	a(href="http://www.jacquelineunanue.com/", title="Jacqueline Unanue") For more information visit her website




	
+h3-double( 'Costs')
p My goal is to raise at least US $9,600 of the funds I need to pay for my trips, transportation, and hanging my exhibitions through this campaign.
ul
	li Airplane tickets for Chile & Spain   <strong>USD $ 3,000</strong>
	li Artwork transportation  <strong>USD $ 1,900</strong>
	li Works on paper framing for Chile & Spain  <strong>USD $2,000</strong>
	li Brochure, one design for the exhibitions in Chile and Spain <strong>USD $ 600</strong>
	li Housing <strong>USD $ 900</strong>
	li Promotional video <strong>USD $300</strong>
	li IndieGoGo fees and perks  <strong>USD $900</strong>

p(style="font-style:italic;") <strong>Note:</strong> if your donations exceed my goal of at least $9,600, I will use that surplus to defray the cost of materials I have used to produce this series of painting.

p
	| Video: 
	a(href="http://www.ignacioguajardo.com/", title="Ignacio Guajardo") Ignacio Guajardo Unanue
	|  | Campaign Design: 
	a(href="http://www.bernatfortet.com/", title="Bernat Fortet") Bernat Fortet Unanue