include mixins
p All perks include my eternal thanks, an invitation to the 3 exhibitions. Also, your name will be pointed out in the names wall list in each gallery.

+perk('1A', 'Eternal Thanks', 1)

+perk('1B', 'Mobile Wallpaper', 5)
img(src=url+"images/phone.gif")

+perk('1C', 'Desktop Wallpaper', 10)
img(src=url+"images/desktop.gif")

+perk(2, 'Hand-made Greeting Cards ', 15)
+perkPhoto( 2, "Standard Size", '17')

+perk(3, 'Small Painting / Watercolor', 20)
+perkPhoto( 3, "7”x 5”, with mat. 3”x2” inside", '22')

+perk(4, 'Small Painting / Watercolor', 40)
+perkPhoto( 4, '7”x 5”, with mat. 4.5”x3” inside', '42')

+perk(5, 'Signed Painting Reproduction', 60)
+perkPhoto( 5, '8,5”x 11”', '65')

+perk(6, 'Two Signed Painting Reproductions', 100)
+perkPhoto( 6, '8,5”x 11” each', '110')

+perk(7, 'Painting / Watercolor on paper', 200)
+perkPhoto( 7, '10”x 8” with mat. 6,5”x 4,5” inside', '215')

+perk(8, 'Painting Labyrinth Zones', 300)
+perkPhoto( 8, '10”x 10”', '350')

+perk(9, 'Painting Inner Codes', 300)
+perkPhoto( 9, '10”x 10”', '350')

+perk(10, 'Painting My Ancient Land VI', 400)
+perkPhoto( 10, '10”x 15”', '450')

+perk(11, 'Painting Still Barcelona XII', 600)
+perkPhoto( 11, '12”x 18”', '650')

+perk(12, 'Painting Inner Codes VII', '1,000')
+perkPhoto( 12, '18”x 24”', '1,100')

+perk(13, 'Painting: Toward My Ancient Land II', '2,000')
+perkPhoto( 13, '22”x 28”', '2,100')

br
p(style="font-style:italic; ")
	| * Note: If you live in Spain, I offer you some works I have in Barcelona. Please contact me: 
	a(href="mailto:jacquelineunanue@yahoo.com") jacquelineunanue@yahoo.com
	br
	| * Note: If you live in Chile, I offer you some works I have in Viña del Mar. Please contact me: 
	a(href="mailto:jacquelineunanue@yahoo.com") jacquelineunanue@yahoo.com
	br
	| * Please visit <a href="http://www.jacquelineunanue.com/" title="Jacqueline Unanue">my website</a>, there you will also find more available pieces!                        
