include mixins
p Obsequios                                         Todos los obsequios incluyen mis eternos agradecimientos e invitación a las 3 exposiciones. También tu nombre destacado en la lista de colaboradores en cada galería

+perk('1A', 'Eternas Gracias', 1)

+perk('1B', 'Fondo Pantalla Mobil', 5)
img(src=url+"images/phone.gif")

+perk('1C', 'Fondo Pantalla Computador', 10)
img(src=url+"images/desktop.gif")

+perk(2, 'Tarjetas de saludo originales', 15)
+perkPhotoEsp( 2, "Tamaño Standard", '17')

+perk(3, 'Pequeñas Pinturas / Acuarelas', 20)
+perkPhotoEsp( 3, "18x 12,5 cm paspartú 7,5x 5 cm interior", '22')

+perk(4, 'Pequeñas Pinturas / Acuarelas', 40)
+perkPhotoEsp( 4, '18x 12,5 cm paspartú. 11,5x 7,5 cm interior', '42')

+perk(5, 'Reproducción Firmada Pintura', 60)
+perkPhotoEsp( 5, '21,5x 28 cm', '65')

+perk(6, 'Dos Reproducciones Firmadas Pintura', 100)
+perkPhotoEsp( 6, '21,5x 28 cm cada una', '110')

+perk(7, 'Pinturas / Acuarelas en Papel', 200)
+perkPhotoEsp( 7, '25,5x 20 cm paspartú. 16,5x 11,5 cm', '215')

+perk(8, 'Pintura Labyrinth Zones', 300)
+perkPhotoEsp( 8, '25.5x 25.5 cm', '350')

+perk(9, 'Pintura Inner Codes', 300)
+perkPhotoEsp( 9, '25.5x 25.5 cm', '350')

+perk(10, 'Pintura My Ancient Land VI', 400)
+perkPhotoEsp( 10, '25,5x 38 cm', '450')

+perk(11, 'Pintura Still Barcelona XII', 600)
+perkPhotoEsp( 11, '30,5x 46 cm', '650')

+perk(12, 'Pintura Inner Codes VII', '1,000')
+perkPhotoEsp( 12, '46x 60,5 cm', 'USD $1,100')

+perk(13, 'Pintura Toward My Ancient Land II', '2,000')
+perkPhotoEsp( 13, '56x 71 cm', 'USD $2,100')

br
p(style="font-style:italic; ")
	| * Nota: Si vives en España, te ofrezco algunas obras que tengo en Barcelona. Contáctame: 
	a(href="mailto:jacquelineunanue@yahoo.com") jacquelineunanue@yahoo.com
	br
	| * Nota: Si vives en Chile, te ofrezco algunas obras que tengo en Viña del Mar. Contáctame:: 
	a(href="mailto:jacquelineunanue@yahoo.com") jacquelineunanue@yahoo.com
	br
	| * Visita mi website: <a href="http://www.jacquelineunanue.com/" title="Jacqueline Unanue">my website</a>, donde encontrarás más obras disponibles!

